.aboutme{
    display: flex;
    flex-direction: column;
    text-align: center;
    /* max-width: 33.3333vw; */
    /* justify-content: center; */
    align-items: center;
    font-size: 17px;
    font-weight: 400;
    min-height: 520px;
    
}

.paboutme { 
    width: 50vw;
    text-align: left;
}

p.bullet:before {
    content:"• ";
}

div.spacing-a-bit-top{
    height: 61px;
    margin: 0;
    border:0;
    padding:0;
}
div.spacing-a-bit-bottom{
    height: 122px;
    margin: 0;
    border:0;
    padding:0;
}

div.bio-set-length{
    margin: 0;
    margin-top: 5vw;
    margin-bottom: 3vw;
    border:0;
    padding:0;
}

div.bio-length{
    display: flex;
    width: 300px;
    justify-content: space-between;
    color:#686868;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    margin-top:5px;
    margin-bottom: 10px;
    border:0;
    padding:0;
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid black;
    margin:0;
    padding:0;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #ffa500;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid black;
    margin: 0;
    padding: 0;
}

div.input-spacing{
    display:flex;
    justify-content: space-between;
    width: 300px;
}

input[type="radio" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    z-index: -1000;
}
