nav {
    width: 100vw;
    background-color: black;
    padding: 0;
    margin: 0;
    border: 0;
    display: flex;
    justify-content: space-around;
    color: gold;
}

a { width: 50vw;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: gold;
}

a:hover {
    font-weight: bolder;
    background-color: grey;
}

.current {
    font-weight: bolder;
    background-color: grey;
}
