#footer {
    display: flex;
    width: 100vw;
    position: fixed;
    bottom: 0;
    background-color: black;
    color: gold;
    padding: 20px;
    justify-content: space-between;
    
}

#footerimages {
    margin: 0;
    border: 0;    
}
